.navbar .nav-link {
  color: #cbd5e1;
  font-weight: 500;
  border-bottom: 3px solid transparent;
  padding-bottom: 0.5rem;
  margin-right: 15px
}

.navbar .nav-link.active {
  color: #ffffff;
  border-bottom-color: #0066ff;
}

.navbar .nav-link.active svg {
  color: #60a5fa;
}